html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.ask {
    flex: 100%;
    order: 3;
    padding-top: 5px;
    text-align: center;
}
@font-face {
    font-family: "Preside";
    src: url("webfonts/PresideBold_PERSONAL_USE.ttf") format("truetype");
}
@font-face {
    font-family: "Canter";
    src: url("webfonts/Canter-Bold.ttf") format("truetype");
}
body {
    background: url(pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    align-self: flex-end;
    font-size: 1.2rem;
}

.buttonContainerBack {
    align-self: flex-start;
}

.confirmedGuestContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}

.container {
    font-family: 'Canter','Open Sans Condensed', sans-serif;
    color: white;
    font-size: 1.5em;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 0 60px 0;
}
.mobileBreak {
    display: none;
}
.przyjdzie {
    background-color: lightgreen;
}

.niePrzyjdzie {
    background-color: salmon;
}

.footer {
    margin: 10px 0 10px 0;
}

.guests {
    width: 200px;
    border-radius: 5px;
    font-family: 'Canter';
    font-size: 20px;
    padding: 5px;
}

.guestChoice {
    border-radius: 5px;
    font-family: 'Canter';
    font-size: 20px;
    padding: 2px;
}

.guestContainer {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.guestsContainer {
    display: flex;
    flex-direction: column;
    /* height: 30vw; */
    justify-content: space-between;
    width: 100%;
}

.guestContainer__Name {
padding: 5px;
font-size: 1.0em;
font-family: 'Preside';
    border-radius: 5px;
    border: none;
    width: 100%;
    letter-spacing: 2px;
}

.guestLine {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(207, 189, 189);
    margin: 1em 0;
    padding: 0;
}

.guestSelect {
    color: black;
}

.header {
    font-weight: bold;
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
}

.headerHead {
    font-family: 'Preside','Amatic SC', cursive;
}

hr {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #fff;
    margin: 1em 0;
    padding: 0;
}

.infoData {
    text-align: center;
}

.infoAdres {
    text-align: center;
}

.mapContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    height: 100%;
    padding: 10px;
}

.mapa {
    width: 100%;
    height: 100%;
    border: 0;
}

.nameContainer {
    flex: 1 1 0;
    width: 100%;
}

.nameContainer:nth-child(1) {
    padding-right: 10px;
}

.nameContainer:nth-child(2) {
    padding-left: 10px;
}

.nextButton {
    font-family: 'Preside','Open Sans Condensed', sans-serif;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    /* width: 40px; */
    background: transparent;
    outline: none;
    border: 1px solid white;
    font-size: 1.2em;
    color:white;
}

.nextButton2 {
    font-family: 'Preside','Open Sans Condensed', sans-serif;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    /* width: 40px; */
    background: transparent;
    outline: none;
    border: 1px solid white;
    font-size: 1.2em;
    color:white;
}

.backButton {
    background: none;
    border: none;
    text-decoration: underline;
    color: white;
    margin-bottom: 10px;
}

.selectContainer {
    margin: 20px 0 20px 0;
    width: inherit;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selectContainer__guestsNumber {
    display: inline-block;
}

.selectContainer__selectGuest {
    display: inline-block;
}

.sentence {
    display: none;
}

.summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color:white;
}

.summaryListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-size: 2em;
    height: 100%;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 10px;
}

.summaryListContainer__header {}

.summaryListContainer__guest {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 5px 0;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper2 {
    max-width: 1200px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    max-width: 1200px;
}

.wrong {
    box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 1);
}

.zleDane {
    color: white;
    padding-right: 10px;
    font-size: 1.2em;
}

@media only screen and (max-width: 767px) {
    .mobileBreak {
        display: block;
    }
    body {
        background-color: rgba(255, 255, 255, 0.2);
        background-blend-mode: overlay;
        position: relative;
    }
    .container {
        width: 90%;
        margin: 20px 0 60px 0;
        background: none;
    }
    .selectContainer {
        flex-direction: column;
        align-items: center;
    }
    .selectContainer__selectGuest {
        width: 100%;
    }
    .guests {
        width: 100%;
        border-radius: 5px;
        padding: 5px;
    }
    .guestContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .guestsContainer {
        width: 100%;
    }
    .guestContainer__Name {
        border-radius: 5px;
        width: 100%;
    }
    .nameContainer {
        margin: 10px 0 10px 0;
    }
    .nameContainer:nth-child(1) {
        width: 100%;
        padding: 0;
    }
    .nameContainer:nth-child(2) {
        width: 100%;
        padding: 0;
    }
    .wrapper3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 240px;
    }
    .summaryListContainer {
        order: 1;
        width: 100%;
        color: white;
    }
    .mapContainer {
        width: 100%;
        color: white;
        position: absolute;
        bottom: 0;
        padding: 0;
        height: 30%;
    }
    .summary {
        flex-direction: column;
    }
    .sentence {
        order: 2;
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
        font-size: x-large;
        letter-spacing: 2px;
        display: block;
        margin-top: 100px;
        text-align: center;
    }
    .sentence>p {
        margin: 0;
    }
    .header {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 992px) {}