html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background: url(pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    align-self: flex-end;
}

.container {
    color: white;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.footer {
    margin-top: 40px;
}

.guests {
    width: 200px;
    border-radius: 5px;
    padding: 5px;
}

.guestContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.guestsContainer {
    width: 100%;
}

.guestContainer__fName {
    padding: 5px;
    border-radius: 5px;
    width: 30%;
}

.guestContainer__lName {
    padding: 5px;
    border-radius: 5px;
    width: 30%;
}

.guestSelect {
    color: black;
}

.header {
    font-weight: bold;
    text-align: center;
    font-size: 1.4em;
}

.headerHead {
    font-family: 'Amatic SC', cursive;
}

hr {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0;
}

.infoData {
    text-align: center;
}

.infoAdres {
    text-align: center;
}

.nextButton {
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    /* width: 40px; */
    background: transparent;
    outline: none;
    border: 1px solid white;
    font-size: 1.1em;
}

.selectContainer {
    margin: 20px 0 20px 0;
    width: inherit;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selectContainer__guestsNumber {
    display: inline-block;
}

.selectContainer__selectGuest {
    display: inline-block;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    height: auto;
    /* background: rgb(0, 212, 255);
    background: linear-gradient(356deg, rgba(0, 212, 255, 0.07326680672268904) 0%, rgba(0, 212, 255, 1) 100%); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper2 {
    max-width: 1200px;
    width: 90%;
    height: auto;
    /* background: rgb(0, 212, 255);
    background: linear-gradient(356deg, rgba(0, 212, 255, 0.07326680672268904) 0%, rgba(0, 212, 255, 1) 100%); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .container {
        width: 90%;
    }
    .selectContainer {
        flex-direction: column;
        align-items: center;
    }
    .selectContainer__selectGuest {
        width: 100%;
    }
    .guests {
        width: 100%;
        border-radius: 5px;
        padding: 5px;
    }
    .guestContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .guestContainer__Name {
        padding: 5px;
        border-radius: 5px;
        margin: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 992px) {}